@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

nav {
  height: 80px;
  background: #c95b23;
  width: 100%;
  position: fixed;
}
.nav-links {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.landing .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 100%;
}
.landing .intro h1 {
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 70px;
}
.landing .intro .h1 {
  margin-top: 100px;
}
.landing .more button {
  border-style: none;
  border-radius: 5px;
  padding: 6px 25px;
  color: #fff;
  background: rgb(147, 19, 68);
  font-size: 24px;
}
.landing .more {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
}
.social a i {
  color: rgb(224, 78, 100);
}
.social a {
  margin: 10px;
}
.contact {
  border-style: none;
  border-radius: 4px;
  padding: 6px 16px;
  color: #fff;
  background: rgb(224, 78, 100);
  font-size: 18px;
}
.landing {
  background-image: url("./images/wall.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#resume {
  background: rgb(224, 78, 100);
}
.more button {
  margin: 5px;
}
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .description {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .about__content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 60%;
}
.info {
  width: 100%;
  margin-left: 40px;
  margin-top: 90px;
  height: 100%;
}
.info ul li {
  list-style: none;
  margin: 5px;
}
.info ul {
  margin-top: 15px;
}
.about .about__me {
  color: rgb(31, 30, 95);
  font-weight: bold;
}
.about .description .picture img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.about .about__content .description {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 15px;
}

.skills__section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(31, 30, 95);
}
.skills__container {
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(211, 206, 206);
  height: 15px;
  border-radius: 1rem;
  width: 100%;
}

.the__skill {
  background: rgb(224, 78, 100);
  height: 100%;
  width: 100%;
  color: white;
  border-radius: 1rem;
  display: flex;
}
.the__skill span {
  font-size: 70%;
}

.frontend {
  width: 100%;
  height: 70%;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.backend {
  width: 100%;
  height: 70%;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.skills {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: #fff;
}
.skill__title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}

.frontend .what,
.backend .what {
  margin: 10px;
  font-weight: bold;
  color: #fff;
}

.the__skill span {
  margin: auto;
}

.s1 {
  width: 85%;
}
.s2 {
  width: 80%;
}
.s3 {
  width: 75%;
}
.s4 {
  width: 45%;
}
.s5 {
  width: 40%;
}
.s6 {
  width: 78%;
}
.s7 {
  width: 70%;
}
.s8 {
  width: 60%;
}

.load {
  animation: loading 1s linear;
}
@keyframes loading {
  0% {
    width: 0%;
  }
}

.services {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.my__services {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 30, 95);
}
.my__services h1 {
  font-size: 30px;
  font-weight: bold;
}
.cards__container {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 100%;
  border-style: none;
  border-radius: 10px;
  background: rgb(224, 78, 100);
  margin-right: 20px;
}
.card__title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.card__content {
  display: flex;
  width: auto;
  height: 55%;
  justify-content: center;
  margin: 10px;
  color: #fff;
}
.icon {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgb(31, 30, 95);
}
.interested {
  width: auto;
  height: 30%;
  border-style: none;
  border-radius: 10px;
  background: rgb(224, 78, 100);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}
.interested__title {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.interested__para {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interested__para p {
  width: 30%;
}
.contact__me {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__me button {
  padding: 8px 16px;
  border-style: none;
  color: #fff;
  background: rgb(31, 30, 95);
  font-size: 16px;
  border-radius: 6px;
}

.works {
  width: 100%;
  height: 100vh;
  background: rgb(31, 30, 95);
}
.works__title {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(224, 78, 100);
  font-weight: bold;
}
.recent__works {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
  box-shadow: 2px 4px 6px rgb(46, 44, 44);
}
.recent__works a {
  width: 200px;
  height: 200px;
  background: url("./images/works1.jpg");
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 0px 7px 7px rgb(0, 0, 0);
  margin: 10px;
}
#portfolio {
  background: url("./images/Dont-take-it-personal.png");
}
#des {
  background: black;
}
.recent__works a {
  text-decoration: none;
}
.recent__works a .discription {
  background: rgb(224, 78, 100);
  width: 100%;
  height: 50%;
  opacity: 0.8;
  margin-top: 50%;
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  transition: all 1s ease-in-out;
  display: none;
}
.recent__works :hover .discription {
  display: block;
  transition: 0.5s;
}

.recent__works a .discription .works__icon {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent__works a .discription p {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__page {
  width: 100%;
  height: 40vh;
}
.contact__title {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(224, 78, 100);
}
.form form {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.form {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}
.form form label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.form form input {
  margin-bottom: 10px;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form form textarea {
  border-radius: 6px;
  padding: 10px;
}
.form form button {
  padding: 6px;
  font-size: 16px;
  border-radius: 7px;
  color: #fff;
  background: rgb(224, 78, 100);
  border-style: none;
  margin-top: 7px;
}

@media screen and (max-width: 800px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  nav {
    position: relative;
    position: fixed;
  }
  .hamburger {
    position: absolute;
    right: 5%;
    top: 20%;
    transform: translate(-5, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: rgb(167, 61, 183);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 100% -18%);

    transition: all 1s ease-out;
  }

  .nav-links.open {
    clip-path: circle(1200px at 100% -18%);
  }
  .nav-links {
    padding-bottom: 90px;
    padding-top: 90px;
  }

  .nav-links :hover {
    font-size: 26px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: rgb(96, 65, 169);
  }
  .contact {
    padding: 6px 60px;
  }
  .landing .more button {
    font-size: 17px;
  }
  .intro {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about {
    height: auto;
  }
  .about__content {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .para {
    margin-bottom: 15px;
  }
  .about .description,
  .about .info {
    width: 100%;
  }
  .about__me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
}
@media screen and (max-width: 645px) {
  .cards__container {
    flex-direction: column;
  }
  .services {
    height: auto;
  }
  .my__services,
  .card,
  .interested {
    margin: 10px;
  }
  .interested {
    margin-bottom: 20px;
  }
  .my__services {
    margin-top: 65px;
  }
  .interested__para p {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contact__me {
    margin-bottom: 7px;
    margin-top: 7px;
  }
}

@media screen and (max-width: 780px) {
  .landing .intro h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 700px) {
  .landing .intro h1 {
    font-size: 55px;
  }
}
@media screen and (max-width: 650px) {
  .landing .intro h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .landing .intro h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .landing .intro h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  .landing .intro h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  .landing .intro h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 490px) {
  .recent__works {
    flex-direction: column;
  }
}
